.outerDivStyle {
    margin: 1rem;
    text-align: left;
    height: 15rem;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navBar {
    display: inline-block;
    background-color: var(--grayish-light-green);
    width: 46rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
    font-size: 1rem;
    border-radius: 3rem;
    padding: 0.4rem;
    box-shadow: var(--box-shadow);
}

.navItem {
    width: auto;
    height: 100%;
    align-content: center;
    display: inline-block;
    position: relative;
}

.navItem:hover {
    background-color: var(--primary-button-hover);
    cursor: pointer;
    border-radius: 3rem;
    box-shadow: 0 0 0 0.1rem var(--darker-green);

    .links {
        color: var(--black);
    }
}

.links {
    color: white;
    text-decoration: none;
    padding: 2rem 2rem;
}

.logoutAndPopulate {
    position: absolute;
    right: 2rem;
    top: 1rem;
}

.innerDivStyle {
    margin: 1rem;
    display: block;
}

.mainHeader {
    font-size: 3rem;
    font-weight: 800;
    width: 18%;
    height: 100%;
    margin: auto 0.5rem;
    display: inline-block;
    align-content: center;
    color: var(--darker-green);
}

.subHeader {
    font-size: 2rem;
    font-weight: 800;
    height: 100%;
    margin: auto 0.5rem;
    display: inline-block;
    align-content: center;
    color: var(--darker-green);
}

.subSubHeader {
    font-size: 2rem;
    font-weight: 800;
    height: 3rem;
    margin: auto 0.5rem;
    display: inline-block;
    align-content: center;
    color: var(--darker-green);
}

.cartStyle {
    background-color: var(--beige);
    border-radius: .6rem;
    border: .1rem solid var(--primary-button-hover);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    width: 25rem;
    position: fixed;
    top: 5rem;
    right: 2rem;
    overflow: hidden;
    height: 17rem;
    resize: vertical;
}

.cartScrollable {
    height: 90%;
    overflow: auto;
}

.cardInCart {
    height: 6rem;
    margin: 1rem 0rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: .5rem;
}

.infoOfCardInCart {
    display: inline-block;
    width: 70%;
    height: 100%;
    margin-top: 0;
}

.squareInCart {
    display: inline-block;
    height: 85%;
    width: 30%;
    border-radius: .2rem;
}

.squareInBrowse {
    height: 10rem;
    border-radius: .5rem;
}

.cardInCart:hover {
    cursor: pointer;
}

.inlineBlock {
    display: inline-block;
}

.cardStyle {
    width: 16rem;
    height: 27rem;
    background-color: var(--white);
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.cardStyle:hover {
    cursor: pointer;
}

.Label {
    height: auto;
    margin: .6rem .2rem;
}

.login {
    background-color: var(--beige);
    border-radius: .5rem;
    height: auto;
    width: 30rem;
    align-content: center;
    text-align: center;
    padding: 3rem;
    margin: 2rem;
}

.browseDiv {
    background-color: var(--beige);
    border-radius: .5rem;
    padding: 1rem;
    margin: 2rem 0rem;
}

.pairOfButtons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.spaceForTooltip {
    margin-top: 2rem;
}