* {
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
	--primary-button-background: #88b422;
	--primary-button-color: #1c2215;
	--primary-button-hover: #dae9b9;
	--secondary-color: #E7CCCC;
	--secondary-color-hover: #df9898;
	--grayish-light-green: #3e8533;
	--beige: #F1F8E8;
	--light-green: #405931;
	--darker-green: #39691a;
	--darkest-green: #123002;
	--black: rgb(19, 19, 19);
	--white: rgb(253, 253, 253);
	--box-shadow-darker-green: 
		0 3px var(--darker-green),
        0 -3px var(--darker-green),
        3px 0 var(--darker-green),
        -3px 0 var(--darker-green),
        0 0px var(--darker-green),
        3px 0px var(--darker-green),
        -3px 0px var(--darker-green);
	--warning-background: #ff8d8d;
	--warning-border: #bd6666;
}

body {
	background-image: url("/grass.png");
	background-repeat: round;
	background-size: 400px;
}

.p-button {
	color: #ffffff;
	width: auto;
	margin: .5rem;
	padding: .3rem .9rem;
	box-shadow: var( --box-shadow-darker-green);
	background: var(--primary-button-background);
	border-radius: 0px;
	border: none;
}

.p-button.add-button {
	background-color: var(--secondary-color-hover);
}

.pi {
	padding: 0rem .3rem 0rem 0rem;
}

.p-button:hover {
	color: #ffffff;
	background: var(--grayish-light-green);
	box-shadow: var( --box-shadow-darker-green);
}

.p-button:focus {
	box-shadow: var( --box-shadow-darker-green);
}

.p-button.cancelButton {
	box-shadow: var( --box-shadow-darker-green);
	background-color: var(--warning-background);
}

.p-button.cancelButton:hover {
	box-shadow: var( --box-shadow-darker-green);
}

.p-button.saveButton {
	box-shadow: var( --box-shadow-darker-green);
	z-index: 1;
	background-color: var(--darker-green);
}

.p-button.saveButton:hover {
	box-shadow: var( --box-shadow-darker-green);
		background-color: var(--darkest-green);
}

.p-inputtext {
	width: auto;
	padding: .3rem .9rem;
	margin: .4rem;
	background: var(--white);
	box-shadow: var( --box-shadow-darker-green);
	border-radius: 0px;
}

.p-inputtext:enabled:focus {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: var( --box-shadow-darker-green);
}

.p-confirm-popup .p-confirm-popup-footer button:last-child {
	background-color: var(--darker-green);
}

.p-confirm-popup .p-confirm-popup-footer button {
	background-color: var(--warning-background);
}

.p-dialog {
	background-color: var(--beige) !important;
	border: .1rem solid var(--primary-button-hover);
	padding: 2rem;
	box-shadow: var( --box-shadow-darker-green);
}