* {
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
	--primary-button-background: #688e0f;
	--primary-button-color: #1c2215;
	--primary-button-hover: #d3e9a4;
	--secondary-color: #e99898;
	--secondary-color-hover: #7a4040;
	--light-pink: #debdbd;
	--darker-pink: #733434;
	--light-yellow: #fbfcdc;
	--dark-yellow: #c7c97b;
	--light-green: #405931;
	--grayish-light-green: #25711a;
	--darker-green: #39691a;
	--darkest-green: #123002;
	--gray: rgb(72, 78, 70);
	--black: rgb(19, 19, 19);
	--white: rgb(253, 253, 253);
	--box-shadow-green: 
		0 3px var(--darker-green),
        0 -3px var(--darker-green),
        3px 0 var(--darker-green),
        -3px 0 var(--darker-green),
        0 0px var(--darker-green),
        3px 0px var(--darker-green),
        -3px 0px var(--darker-green);
	--box-shadow-darker-red: 
		0 3px var(--darker-pink),
        0 -3px var(--darker-pink),
        3px 0 var(--darker-pink),
        -3px 0 var(--darker-pink),
        0 0px var(--darker-pink),
        3px 0px var(--darker-pink),
        -3px 0px var(--darker-pink);
	--box-shadow-yellow: 
		0 3px var(--dark-yellow),
        0 -3px var(--dark-yellow),
        3px 0 var(--dark-yellow),
        -3px 0 var(--dark-yellow),
        0 0px var(--dark-yellow),
        3px 0px var(--dark-yellow),
        -3px 0px var(--dark-yellow);
	--box-shadow-gray: 
		0 3px var(--gray),
        0 -3px var(--gray),
        3px 0 var(--gray),
        -3px 0 var(--gray),
        0 0px var(--gray),
        3px 0px var(--gray),
        -3px 0px var(--gray);
	--warning-background: #ff8d8d;
	--warning-border: #bd6666;
}

body {
	background-image: url("/grass.png");
	background-repeat: round;
	background-size: 400px;
}

.p-button {
	color: #ffffff;
	width: auto;
	margin: .5rem;
	padding: .3rem .9rem;
	box-shadow: var( --box-shadow-green);
	background: var(--primary-button-background);
	border-radius: 0px;
	border: none;
}

.p-button.add-button {
	background-color: var(--secondary-color-hover);
}

.pi {
	padding: 0rem .3rem 0rem 0rem;
}

.p-button:hover {
	color: #ffffff;
	background: var(--grayish-light-green);
	box-shadow: var( --box-shadow-green);
}

.p-button:focus {
	box-shadow: var( --box-shadow-green);
}

.p-button.cancelButton {
	box-shadow: var( --box-shadow-green);
	background-color: var(--warning-background);
}

.p-button.cancelButton:hover {
	box-shadow: var( --box-shadow-green);
}

.p-button.saveButton {
	box-shadow: var( --box-shadow-green);
	z-index: 1;
	background-color: var(--darker-green);
}

.p-button.saveButton:hover {
	box-shadow: var( --box-shadow-green);
		background-color: var(--darkest-green);
}

.p-button.addButton {
	box-shadow: var( --box-shadow-green);
	z-index: 1;
	background-color: var(--darker-green);
	position: relative;
	bottom: 4rem;
	left: 3rem;
}

.p-button.addButton:hover {
	box-shadow: var( --box-shadow-green);
		background-color: var(--darkest-green);
}

.p-inputtext {
	width: auto;
	padding: .3rem .9rem;
	margin: .4rem;
	background: var(--white);
	box-shadow: var( --box-shadow-darker-red);
	border-radius: 0px;
}

.p-inputtext:enabled:focus {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: var( --box-shadow-green);
}

.p-confirm-popup .p-confirm-popup-footer button:last-child {
	background-color: var(--darker-green);
}

.p-confirm-popup .p-confirm-popup-footer button {
	background-color: var(--warning-background);
}

.p-dialog {
	background-color: var(--light-yellow) !important;
	border: .1rem solid var(--primary-button-hover);
	padding: 2rem;
	box-shadow: var( --box-shadow-green);
}